<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <script>
            const moreInformation = (url, item) => {
                fetch(url + '/' + item)
                    .then(response => {
                        if (!response.ok) {
                            throw Error("ERRROR")
                        }
                        return response.json();
                    })
                    .then(responseData => {
                        console.log(responseData)
                        html = responseData.map(item => {
                            return `<span class="outputTitle">Rezerwacja w danym dniu</span></br><span class="output">${item.klient_kursy}</span></br>`

                        }).join("")
                        document
                            .querySelector("#extraInformationAboutSeance").innerHTML = html;

                    });
            }
        </script>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="jumbotron">
            <h1 class="Title">Klienci</h1>
            <button type="button" id="buttonToAdd" onclick="addItem()">Dodaj klienta</button>
            <button type="button" id="buttonToAdd1" onclick="addClientToCourse()">Zapisz klienta na kurs w wybranym dniu</button>

            <div id="extraInformationAboutSeance"></div>
            <% if (result) { %>
                <div id="result">
                    <%= result %>
                </div>

                <%} else { %>

                    <% } %>


                        <div>
                            <form action="/clientsAndCourses" method="POST" id="clientToCourse">
                                <table>

                                    <tr>
                                        <td>
                                            <label for="client_id">Id Klienta : </label>
                                        </td>
                                        <td>
                                            <input type="text" id="client_id" name="client_id" placeholder="Id klienta" required><br>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="course_name">Podaj nazwę kursu : </label>
                                        </td>
                                        <td>
                                            <input type="text" id="course_name" name="course_name" placeholder="Nazwa kursu" required><br>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="data">Termin : </label>
                                        </td>
                                        <td>
                                            <input type="text" id="data" name="data" placeholder="dd-mm-rr" required><br>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <input type="submit" value="Zapisz klienta" id="buttonToAddCD">
                                        </td>
                                    </tr>

                                </table>
                            </form>
                            <form action="/clients" method="POST" id="itemsFormAdd">
                                <table>

                                    <tr>
                                        <td>
                                            <label for="name">Imię : </label>
                                        </td>
                                        <td>
                                            <input type="text" id="name" name="name" placeholder="Podaj imię" required><br>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="surname">Nazwisko : </label>
                                        </td>
                                        <td>
                                            <input type="text" id="surname" name="surname" placeholder="Podaj nazwisko" required><br>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <label for="pesel">Pesel : </label>
                                        </td>
                                        <td>
                                            <input type="number" id="pesel" name="pesel" placeholder="Podaj pesel" required><br>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <input type="submit" value="Dodaj klienta" id="buttonToAddCD">
                                        </td>
                                    </tr>

                                </table>
                            </form>

                            <ul id="items">
                                <% for(var i = 0; i < items.length; i++) {%>
                                    <div class="outputBoxes">
                                        <span class="outputTitle">Id klienta :</span>
                                        <span class="output">
                                        <%= items[i].klient_id %>
                                        </span>
                                        </br>
                                        <span class="outputTitle">Imię :</span>
                                        <span class="output">
                                        <%= items[i].imie %>
                                        </span>
                                        </br>
                                        <span class="outputTitle">Nazwisko :</span>
                                        <span class="output">
                                        <%= items[i].nazwisko %>
                                        </span>
                                        </br>
                                        <span class="outputTitle">Pesel :</span>
                                        <span class="output">
                                        <%= items[i].pesel %>
                                        </span>
                                        </br>
                                        <button type="button" id="buttonToAdd" onclick="moreInformation('clients','<%= items[i].klient_id %>')">Szczegółowe informacje co kliencie</button>

                                        <button type="button" id="buttonToAdd" onclick="deleteData('clients','<%= items[i].klient_id %>')">Usuń</button>

                                    </div>
                                    <% } %>
                            </ul>
                        </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>