<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
            <style>
                .Title {
                    text-align: center;
                }
                
                .outputBoxes {
                    margin-bottom: 10px;
                    border-color: rgba(82, 168, 236, 0.8);
                    outline: 0;
                    outline: thin dotted \9;
                    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
                    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(82, 168, 236, .6);
                }
                
                .outputTitle {
                    font-size: 26px;
                    font-weight: 300;
                    color: #796640;
                    margin: 0 0 24px;
                    margin-right: 5px;
                    margin-left: 5px;
                }
                
                .output {
                    color: #494310;
                    font-family: 'Trocchi', serif;
                    font-size: 25px;
                    font-weight: normal;
                    line-height: 48px;
                    margin: 0;
                }
            </style>
    </header>
    <main>
        <div class="jumbotron">
            <h1 class="Title">Liczba sprzedanych kursow</h1>

            <div id="extraInformationAboutSeance"></div>
            <% if (result) { %>
                <div id="result">
                    <%= result %>
                </div>

                <%} else { %>

                    <% } %>


                        <div>


                            <ul id="items">
                                <% for(var i = 0; i < items.length; i++) {%>
                                    <div class="outputBoxes">

                                        <span class="outputTitle">Nazwa kursu :</span>
                                        <span class="output">
                            <%= items[i].nazwa %>
                                </span>
                                        </br>
                                        <span class="outputTitle">Liczba sprzedanych kursów</span>
                                        <span class="output">
                            <%= items[i].count %>
                                </span>
                                        </br>

                                    </div>
                                    <% } %>
                            </ul>
                        </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
<!-- <script type="text/javascript" src="javascrips/fun.js"></script> -->

</html>