<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <script>
            function addItem() {
                document.getElementById("items").style.display = "none";
                document.getElementById("itemsFormAdd").style.display = "inline";
                document.getElementById("buttonToAdd").style.display = "none";
                document.getElementById("result").style.display = "none";
            }
            const deleteData = (url, id) => {
                fetch(url + '/' + id, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    })
                    .then(response => {
                        response.json().then(json => {
                            return json;
                        })
                    })
                location.reload();
            }
        </script>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="jumbotron">
            <h1 class="Title">Rzeczy w magazynie</h1>
            <button type="button" id="buttonToAdd" onclick="addItem()">Dodaj pomieszczenie</button>


            <% if (result) { %>
                <div id="result">
                    <%= result %>
                </div>

                <%} else { %>

                    <% } %>


                        <div>
                            <form action="/rooms" method="POST" id="itemsFormAdd">
                                <table>

                                    <tr>
                                        <td>
                                            <label for="nr">Nr nowego pomieszczenia </label>
                                        </td>
                                        <td>
                                            <input type="number" id="nr" name="nr" min="0" placeholder="Nr" required><br>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <input type="submit" value="Dodaj pomieszczenie" id="buttonToAddCD">
                                        </td>
                                    </tr>

                                </table>
                            </form>

                            <ul id="items">
                                <% for(var i = 0; i < items.length; i++) {%>
                                    <div class="outputBoxes">

                                        <span class="outputTitle">Nr pomieszczenia :</span>
                                        <span class="output">
                                        <%= items[i].nr_pokoju %>
                                        </span>
                                        <button type="button" id="buttonToAdd" onclick="deleteData('rooms','<%= items[i].nr_pokoju %>')">Usuń</button>

                                    </div>
                                    <% } %>
                            </ul>
                        </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>