<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="jumbotron">
            <h1 class="Title">Możliwe wynagrodzenia pracowników</h1>
            <button type="button" id="buttonToAdd" onclick="addItemWithoutHidingExtra()">Dodaj wynagrodzenie</button>

            <div id="extraInformationAboutSeance"></div>
            <% if (result) { %>
                <div id="result">
                    <%= result %>
                </div>

                <%} else { %>

                    <% } %>


                        <div>
                            <form action="/salaries" method="POST" id="itemsFormAdd">
                                <table>

                                    <tr>
                                        <td>
                                            <label for="salary">Kwota wynagrodzenia </label>
                                        </td>
                                        <td>
                                            <input type="number" id="salary" name="salary" min="0" placeholder="Nr" required><br>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <input type="submit" value="Dodaj wynagrodzenie" id="buttonToAddCD">
                                        </td>
                                    </tr>

                                </table>
                            </form>

                            <ul id="items">
                                <% for(var i = 0; i < items.length; i++) {%>
                                    <div class="outputBoxes">

                                        <span class="outputTitle">Kwota :</span>
                                        <span class="output">
                                        <%= items[i].kwota %>
                                        </span>
                                        <button type="button" id="buttonToAdd" onclick="deleteData('salaries','<%= items[i].kwota %>')">Usuń</button>

                                    </div>
                                    <% } %>
                            </ul>
                        </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>